:root{
    --primary: #7b0867;
}

.top-bar{
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.btn-light{
    background-color: white;
    border-color: #dee2e6;
    color: #212529;
}

.bg-primary,.btn-primary{
    background-color: var(--primary) !important;
}

.navbar-brand,.btn-light i{
    color: var(--primary);
    font-size: 1.2rem;

}
.navbar-brand i{
    margin-right: 5px;
}
.navbar-brand:hover,.btn-light i:hover{
    color: #5e064f;
}

.slider-nav{
    max-height: 250px;
}

@media (min-width:1200px){
    .slider-nav{
    max-height: 300px;
}
}

@media (min-width:1400px){
    .slider-nav{
    max-height: 350px;
}
}

.img-wrap{
    position: relative;
    padding: 1rem;
}

.img-wrap span{
    position: absolute;
    top: 10px;
    right: 10px;
}
.info-wrap{
    padding: 1rem 1.2rem;
}

.info-wrap .title{
    display: block;
    text-decoration: none;
    color: #51585e;
}

.info-wrap .price-discount{
    font-weight: bold;
    font-size: 1.1rem;
}

.img-wrap{
    height: 240px;
     text-align: center;
}

.img-wrap img{
    height: 100%;
    width: auto;
    object-fit: cover;
   max-width: 100%;
}

#端r端n_cards h3{
    font-weight: bold;
}

footer .btn-icon{
    border-radius: 50%;
    font-size: 1.1rem;
}

#端r端n_cards .shadow{
  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px !important;
}

.breadcrumb a{
    color: white;
    opacity: .9;
}

.breadcrumb .breadcrumb-item{
    color: white;
}
.breadcrumb-item+.breadcrumb-item::before{
    color: white;
}

/* gallery */
.gallery-wrap .big-wrap{
    width: 100%;
    height: 400px;
    margin-bottom: 1rem;
    text-align: center;
}
.gallery-wrap .big-wrap img{
    max-width: 100%;
}
.gallery-wrap .thumbs-wrap{
    text-align: center;
}


.gallery-wrap .thumbs-wrap a{
    width: 60px;
    height: 60px;
    border: 1px solid #dde2e6;
    border-radius: .4rem;
    margin: 3px;
    display: inline-block;
    overflow: hidden;
}


.gallery-wrap .thumbs-wrap img{
    max-width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: zoom-in;
}

.rating-wrap .checked{
    color: #ffcc00;
}

.btn-details{
    color: var(--primary);
}

.btn-outline-primary{
    border-color: var(--primary);
}

.btn-outline-primary:hover{
    background-color: var(--primary);
    color: white;
    border-color: var(--primary);
}

.btn-primary{
    border-color: var(--primary);
}

.back{
    color: var(--primary);
}
.back:hover{
    color: black;
}